

body {
    background-color: powderblue;
}

.heading {text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif} 

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 250px;
    
} 

.personal {text-align: center;
    background-color: #79a6d2;} 

.contact {text-align: center} 

.goal {text-align: center;
    background-color: #79a6d2;} 

.education {text-align: center} 

.exp {text-align: center;
    background-color: #79a6d2;} 

.skills {text-align: center;} 

.traits {text-align: center;
    background-color: #79a6d2;}
